@page
@model WebApp.Areas.Paquetes.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Solicitud de envío";
    Layout = "_Layout";
}

<section class="content-header">
    <h4 style="text-align: right;">Añade una nueva solicitud.</h4>
    <a type="button" class="btn btn-outline-danger" asp-area="Paquetes" asp-page="Index">
        <i class="fas fa-undo"></i>
        Volver al administrador de paquetes
    </a>
</section>

<section class="content">
    <div>
        <!--Formulario-->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Nueva solicitud de envío.</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Create" autocomplete="off" enctype="multipart/form-data">
                    <div class="row mb-4">
                        <div class="col">
                            <label>Fotografía del paquete</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-camera-retro"></i>
                                </span>
                                <input type="file" accept="image/png, image/jpeg, image/jpg" name="Subir_Archivo" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label>Contenido del paquete</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-box"></i>
                                </span>
                                <input type="text" class="form-control" asp-for="Paquete.Nombre_Paquete" placeholder="El texto debe de ser autodescriptivo"/>
                            </div>
                        </div>
                        <div class="col">
                            <label>Tipo de contenido</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-tv"></i>
                                </span>
                                <select class="form-select" asp-for="Paquete.Tipo_Paquete">
                                    <option value="@ApplicationCore.Enum.Tipo_Paquete.Accesorio">@ApplicationCore.Enum.Tipo_Paquete.Accesorio</option>
                                    <option value="@ApplicationCore.Enum.Tipo_Paquete.Decoracion">@ApplicationCore.Enum.Tipo_Paquete.Decoracion</option>
                                    <option value="@ApplicationCore.Enum.Tipo_Paquete.Electrodomestico">@ApplicationCore.Enum.Tipo_Paquete.Electrodomestico</option>
                                    <option value="@ApplicationCore.Enum.Tipo_Paquete.Muebles">@ApplicationCore.Enum.Tipo_Paquete.Muebles</option>
                                    <option value="@ApplicationCore.Enum.Tipo_Paquete.Vestimenta">@ApplicationCore.Enum.Tipo_Paquete.Vestimenta</option>
                                </select>
                            </div>
                            <span asp-validation-for="Paquete.Tipo_Paquete" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label>Fecha de entrega</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="Paquete.Fecha_Entrega" />
                            </div>
                            <span asp-validation-for="Paquete.Fecha_Entrega" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label>Peso del paquete</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="Paquete.Peso_Paquete" placeholder="Expresa la cantidad en libras"/>
                                <span class="input-group-text">
                                    lb
                                </span>
                            </div>
                            <span asp-validation-for="Paquete.Peso_Paquete" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-4 form-check">
                        <div class="col">
                            <input type="checkbox" class="form-check-input" asp-for="Paquete.Envio_Especial" />
                            <label asp-for="Paquete.Envio_Especial">Activar envío con prioridad.</label>
                            <span asp-validation-for="Paquete.Envio_Especial" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-around;">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fas fa-share-square"></i>
                            Enviar solicitud
                        </button>
                        <button type="reset" class='btn btn-outline-warning'>
                            <i class="fas fa-dumpster"></i>
                            Vaciar campos
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" language="javscript">
        $.validator.unobtrusive.parse(document);
        $(document).ready(function () {
            $('#a-paquete').addClass('active');
        });
    </script>
}